<!-- footer -->

<div class="container-fluid eighth-section">
    <div class="row">
        <div class="col-sm-3 col-md-offset-2 col-md-2 menu">
            <a href="#" class="foot-item"><h3>Privacy</h3></a>
        </div>

        <div class="col-sm-3 col-md-2 menu">
            <a href="#" class="foot-item"><h3>Terms of use</h3></a>
        </div>

        <div class="col-sm-3 col-md-2 menu">
            <a href="#" class="foot-item"><h3>Contact</h3></a>
        </div>

        <div class="col-sm-3 col-md-2 menu">
            <a href="#" class="foot-item"><h3>App download</h3></a>
        </div>
    </div>

    <div class="row text-center credits">
        <div class="col-md-12">
            <a class="social" href="#"><i class="social fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
            <a class="social" href="#"><i class="social fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
            <a class="social" href="#"><i class="social fa fa-instagram fa-3x" aria-hidden="true"></i></a>
            <a class="social" href="#"><i class="social fa fa-envelope-square fa-3x" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="row text-center credits">
        <div class="col-md-12">
            Copyright © 2016. AfterHours
        </div>
    </div>
</div>
