<div class="container-fluid">
    <div class="row navigation">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <a href="/search" class="navbar-brand">AfterHours</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                      <li><a href="#" class="nav-item">About</a></li>
                      <li><a href="#" class="nav-item">Features</a></li>
                      <li><a href="#" class="nav-item">How it works</a></li>
                      <li><a href="#" class="nav-item">Contact</a></li>
                      <li><a href="#" class="nav-item">FAQ</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/userprofile" class="nav-item">profile</a></li>
                        <li><a href="/logout" class="nav-item">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{> index/nav_js}}
